<div class="row row-cols-1 row-cols-md-2 row-cols-sm-1 row-cols-lg-2 row-cols-xl-2">
    <div class="col-12">
        <div class="profil-circle">
            <img src="/assets/images/user.svg" alt="Profil" class="profil">
            <div class="add-profil">
                <img src="/assets/images/camera.svg" alt="add Photo" class="camera">
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="heading">Information générale</div>
    </div>
    <div class="col">
        <div class="info">
            Email
        </div>
    </div>
    <div class="col">
        <div class="info">
            <input type="email" class="form-control" placeholder="name@example.com">
        </div>
    </div>
    <div class="col">
        <div class="info">
            Nom Complete
        </div>
    </div>
    <div class="col">
        <div class="info">
            <input type="text" class="form-control" placeholder="Entrer votre nom">
        </div>
    </div>
    <div class="col">
        <div class="info">
            Date Naissance
        </div>
    </div>
    <div class="col">
        <div class="info">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <img src="/assets/images/birthday.svg" alt="birthday" style="width: 20px;height: 20px;">
                </span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
    </div>
    <div class="col">
        <div class="info">Sex</div>
    </div>
    <div class="col">
        <div class="info">
            <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 row-cols-lg-2 row-cols-xl-2">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Homme
                        </label>
                      </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Femme
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="info">
            Current Profession
        </div>
    </div>
    <div class="col">
        <div class="info">
            <select class="form-select" aria-label="Default select example">
                <option selected>Student</option>
                <option value="1">Salarie</option>
                <option value="2">Entrepronneur</option>
                <option value="3">Others</option>
              </select>
        </div>
    </div>
    <div class="col">
        <div class="info">
            Address
        </div>
    </div>
    <div class="col">
        <div class="info">
            <textarea class="form-control" name="address" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="col">
        <div class="info">Pays</div>
    </div>
    <div class="col">
        <div class="info">
            <select class="form-select" aria-label="Default select example">
                <option selected>Maroc</option>
                <option value="1">France</option>
                <option value="2">Algeria</option>
                <option value="3">Others</option>
              </select>
        </div>
    </div>
    <div class="col">
        <div class="info">Mobile Phone</div>
    </div>
    <div class="col">
        <div class="info">
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="col">
        <div class="info">
            About Me
        </div>
    </div>
    <div class="col">
        <div class="info">
            <textarea class="form-control" name="address" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="col-12">
        <div class="heading">Résaux Socieux</div>
    </div>
    <div class="col">
        <div class="info">
            LinkedIn Link
        </div>
    </div>
    <div class="col">
        <div class="info">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">https://www.linkedin.com/</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
              </div>
        </div>
    </div>
    <div class="col">
        <div class="info">Facebook Link</div>
    </div>
    <div class="col">
        <div class="info">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">https://www.facebook.com/</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
              </div>
        </div>
    </div>
    <div class="col">
        <div class="info">Twitter Link</div>
    </div>
    <div class="col">
        <div class="info">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">https://www.twitter.com/</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
              </div>
        </div>
    </div>
</div>